<div class="heading" id="ide">
  <h2>编辑器配置</h2>
</div>

<div class="section" id="ide-vscode">
    <div class="col">
        <h3>VSCode配置</h3>
        <ol>
            <li>
                <p>code->preferences->settings</p><a href="vscode-setting.json" download="vscode-setting.json">下载配置文件</a>
                <ul>
                    <li>
                        <code>vscode-setting.json</code>
                        {% highlight json %}{% include vscode-setting.json %}{% endhighlight %}
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
